<div class="card card-inverse card-warning">
  <div class="card-block">
    <div class='row justify-content-end'>
      <div class="col">
          <span class="card-title">Pafly! The Home of Pinocchio and Foot!</span>
      </div>
      <div class="col-2">
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            <span class="fas fa-bars"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" routerLink='/comics'>Comics</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Radio Pafly</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>